@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --font-montserrat: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
    --container-lg: 32rem;
    --container-3xl: 48rem;
    --container-5xl: 64rem;
    --container-4xl: 56rem;
    --container-7xl: 80rem;

    --letra-xs: 0.75rem;
    --letra-sm: 0.875rem;
    --letra-md: 1rem;
    --letra-lg: 1.125rem;
    --letra-2xl: 1.5rem;
    --letra-3xl: 1.875rem;
    --letra-4xl: 2.45rem;
    --letra-5xl: 3rem;

    --reestablecerLetra: 1;
    --letra8: calc(8px * var(--reestablecerLetra));
    --letra9: calc(9px * var(--reestablecerLetra));
    --letra10: calc(10px * var(--reestablecerLetra));
    --letra11: calc(11px * var(--reestablecerLetra));
    --letra12: calc(12px * var(--reestablecerLetra));
    --letra13: calc(13px * var(--reestablecerLetra));
    --letra14: calc(14px * var(--reestablecerLetra));
    --letra15: calc(15px * var(--reestablecerLetra));
    --letra16: calc(16px * var(--reestablecerLetra));
    --letra17: calc(17px * var(--reestablecerLetra));
    --letra18: calc(18px * var(--reestablecerLetra));
    --letra20: calc(20px * var(--reestablecerLetra));
    --letra21: calc(21px * var(--reestablecerLetra));
    --letra22: calc(22px * var(--reestablecerLetra));
    --letra23: calc(23px * var(--reestablecerLetra));
    --letra24: calc(24px * var(--reestablecerLetra));
    --letra25: calc(25px * var(--reestablecerLetra));
    --letra26: calc(26px * var(--reestablecerLetra));
    --letra27: calc(27px * var(--reestablecerLetra));
    --letra28: calc(28px * var(--reestablecerLetra));
    --letra30: calc(30px * var(--reestablecerLetra));
    --letra32: calc(32px * var(--reestablecerLetra));
    --letra33: calc(33px * var(--reestablecerLetra));
    --letra35: calc(35px * var(--reestablecerLetra));
    --letra38: calc(38px * var(--reestablecerLetra));
    --letra36: calc(36px * var(--reestablecerLetra));
    --letra40: calc(40px * var(--reestablecerLetra));
    --letra50: calc(50px * var(--reestablecerLetra));
    --letra58: calc(58px * var(--reestablecerLetra));
    --letra68: calc(68px * var(--reestablecerLetra));
    --letra88: calc(88px * var(--reestablecerLetra));
    --letra142: calc(142px * var(--reestablecerLetra));

    font-style: normal;
}

* {
    font-family: var(--font-montserrat), system-ui, sans-serif !important;
}


/* DEFINICIÓN DE COLORES */

html {
  --colorAzul: #00aeef;
  --colorAzul-claro: #2cb4e6;
  --colorAzul-claro-escala2: #E1EDFF31;
  --colorAzul-claro-escala3: #eaf6fd;
  --colorAzul-oscuro: #0081b1;
  --colorAzul-oscuro-escala2: #1F96B2;
  --colorAzul-oscuro-escala3: #101f38;
  --colorVerde: #3f858b;
  --colorVerde-escala2: #ebf5f2;
  --colorVino: #7a1f1f;
  --colorVino-escala: #8c2a2a;
  --colorBlanco: #FFF;
  --colorBlanco-escala-2: #f1f1f1;
  --colorBlanco-escala-3: #d6dadb;
  --colorBlanco-escala-4: #e2e0e056;
  --colorGris: #b9bdc2;
  --colorGris-escala-2: #292524;
  --colorGris-escala-3: #46423d;
  --colorGris-escala-4: #9ca3af;
  --colorGris-escala-5: #9B9B9B;
  --colorNegro: #000;
  --colorNegro-escala-2: #0f0f0f;
  --colorNegro-escala-3: #0B1526;

  /* VARIABLES ESTATICAS */
  /* -> VARIABLES ESTATICAS */
}

:root {
  /* GENERAL PARA TODAS LAS PAGS */
  
  --colorBackgroundGeneral: var(--colorBlanco);
  --colorForegroundGeneral: var(--colorNegro-escala-2);

  /* -> GENERAL PARA TODAS LAS PAGS */

  /* BUSCADOR */

  --colorTituloBuscador: var(--colorAzul-oscuro-escala2);
  --colorAvisoInformativo: var(--colorGris-escala-3);
  --colorFuncionesBarraBusqueda: var(--colorAzul-oscuro-escala2);
  --colorBackgroundBarraBusqueda: var(--colorBlanco);
  --colorSombraBarraBusqueda: color-mix(in srgb, var(--colorAzul-oscuro-escala2) 20%, transparent);
  --colorBordesBarraBusqueda: color-mix(in srgb, var(--colorNegro-escala-2) 20%, transparent);
  --colorBordesBarraBusquedaActiva: var(--colorAzul-oscuro-escala2);
  --colorBackgroundBotonBusquedaActivo: var(--colorAzul-oscuro-escala2);
  --colorSimbolosActivosBarraBusqueda: var(--colorBlanco-escala-2);
  --colorBackgroundEtiquetaTipo: var(--colorVerde-escala2);
  --colorEtiquetaTipo: var(--colorVerde);
  --colorIconosMetaResultado: var(--colorVerde);
  --colorBackgroundResultados: color-mix(in srgb, var(--colorBlanco-escala-2) 70%, transparent);
  --colorBordesResultados: color-mix(in srgb, var(--colorNegro-escala-2) 20%, transparent);
  --colorResultadoHover: color-mix(in srgb, var(--colorGris) 20%, transparent);
  --colorOpcionVentanaResultadoHover: var(--colorAzul-oscuro);
  --colorTituloResultado: var(--colorAzul-oscuro);
  --colorCaracteristicasResultado: var(--colorNegro);
  --colorContenidoResultado: var(--colorGris-escala-3);
  --colorBackgroundSugerenciasBusqueda: color-mix(in srgb, var(--colorBlanco-escala-2) 70%, transparent);
  --colorBordeSugerenciasBusqueda: color-mix(in srgb, var(--colorNegro-escala-2) 20%, transparent);
  --colorHoverSugerenciasBusqueda: color-mix(in srgb, var(--colorNegro-escala-2) 20%, transparent);
  --colorBotonModoIa: var(--colorBlanco);
  --colorBackgroundBotonModoIa: var(--colorAzul-oscuro-escala2);
  --colorBackgroundBotonModoIaHover: var(--colorAzul-oscuro-escala2);
  --colorBotonModoIaHover: var(--colorBlanco);
  --colorBotonActivoModoIa: var(--colorAzul-oscuro-escala2);
  --colorBackgroundTarjetaConsejosBusqueda: var(--colorAzul-claro-escala2);
  --colorItemConsejoBusqueda: var(--colorGris-escala-5);
  /* -> BUSCADOR */

  /* FILTROS */

  --colorBordeFiltro: var(--colorNegro-escala-2);
  --colorSombraFiltro: color-mix(in srgb, var(--colorAzul-oscuro-escala2) 20%, transparent);
  --colorBordeFiltroActivo: var(--colorAzul-oscuro-escala2);

  /* -> FILTROS */

  /* MODALES */

  --colorBackgroundModales: var(--colorBlanco);
  --colorTituloModales: var(--colorAzul-oscuro-escala2);
  --colorBordesModales: color-mix(in srgb, var(--colorNegro-escala-2) 20%, transparent);
  --colorBotonModales: var(--colorAzul-oscuro-escala2);
  --colorBotonActivoModales: var(--colorAzul-claro-escala2);
  --colorBotonSecundarioModales: var(--colorGris-escala-4);
  --colorBotonSecundarioActivoModales: var(--colorNegro-escala-2);
  --colorBotonPaginacion: var(--colorBlanco-escala-3);
  --colorBotonHoverPaginacion: var(--colorGris);
  --colorBackgroundBotonCancelarModales: var(--colorBlanco-escala-2);

  /* -> MODALES */

  /* FACETA */

  --colorBackgroundFaceta: var(--colorBlanco);
  --colorBackgroundFondoFaceta: color-mix(in srgb, var(--colorGris) 20%, transparent);
  --colorBordesFaceta: color-mix(in srgb, var(--colorNegro-escala-2) 10%, transparent);
  --colorBordesFacetaInterno: color-mix(in srgb, var(--colorAzul-oscuro-escala2) 20%, transparent);
  --colorContadorFaceta: color-mix(in srgb, var(--colorNegro-escala-2) 70%, transparent);
  --colorBackgroundContadorFaceta: color-mix(in srgb, var(--colorGris) 30%, transparent);
  --colorBackgroundFacetaActiva: var(--colorAzul-claro-escala3);

  /* -> FACETA */

  /* TARJETA IA */

  --colorTituloTarjetaIa: var(--colorAzul-oscuro);
  --colorBackgroundTarjetaIa: var(--colorBlanco-escala-4);
  --colorTextoDisclaimerIa: color-mix(in srgb, var(--colorNegro-escala-2) 40%, transparent);
  --colorBackgroundReferenciaIa: var(--colorAzul-oscuro-escala3);
  --colorReferenciasIa: var(--colorAzul-oscuro-escala3);

  /* -> TARJETA IA */
}

/* -> DEFINICIÓN DE COLORES */

body {
  background: var(--colorBackgroundGeneral);
  color: var(--colorForegroundGeneral);
}